/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/roboto-v20-latin-regular.eot'); 
  src: local('Roboto'), local('Roboto-Regular'),
       url('/static/fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
       url('/static/fonts/roboto-v20-latin-regular.woff') format('woff'), 
       url('/static/fonts/roboto-v20-latin-regular.ttf') format('truetype');
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/roboto-v20-latin-500.eot'); 
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('/static/fonts/roboto-v20-latin-500.woff2') format('woff2'), 
       url('/static/fonts/roboto-v20-latin-500.woff') format('woff'), 
       url('/static/fonts/roboto-v20-latin-500.ttf') format('truetype');
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/roboto-v20-latin-700.eot'); 
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/static/fonts/roboto-v20-latin-700.woff2') format('woff2'), 
       url('/static/fonts/roboto-v20-latin-700.woff') format('woff'), 
       url('/static/fonts/roboto-v20-latin-700.ttf') format('truetype');
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/static/fonts/roboto-v20-latin-900.eot'); 
  src: local('Roboto Black'), local('Roboto-Black'),
       url('/static/fonts/roboto-v20-latin-900.woff2') format('woff2'), 
       url('/static/fonts/roboto-v20-latin-900.woff') format('woff'), 
       url('/static/fonts/roboto-v20-latin-900.ttf') format('truetype');
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/roboto-slab-v9-latin-700.eot'); 
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('/static/fonts/roboto-slab-v9-latin-700.woff2') format('woff2'), 
       url('/static/fonts/roboto-slab-v9-latin-700.woff') format('woff'), 
       url('/static/fonts/roboto-slab-v9-latin-700.ttf') format('truetype');
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/lato-v16-latin-regular.eot'); 
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/static/fonts/lato-v16-latin-regular.woff2') format('woff2'), 
       url('/static/fonts/lato-v16-latin-regular.woff') format('woff'), 
       url('/static/fonts/lato-v16-latin-regular.ttf') format('truetype');
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/lato-v16-latin-700.eot'); 
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/static/fonts/lato-v16-latin-700.woff2') format('woff2'), 
       url('/static/fonts/lato-v16-latin-700.woff') format('woff'), 
       url('/static/fonts/lato-v16-latin-700.ttf') format('truetype');
}

:root {

  --font-family-sans: 'Roboto', sans-serif;

  --color-brand-primary: #d14a28;
  --color-brand-secondary: #231f20;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(15 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */
}
