/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('./fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('./fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('./fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('./fonts/roboto-slab-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-slab-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('./fonts/roboto-slab-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-slab-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {

  --font-family-sans: 'Roboto', sans-serif;

  --color-brand-primary: #d14a28;
  --color-brand-secondary: #231f20;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(15 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */
}
