@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {}

.title {}

.image {
  position: relative;
  background: #eee;
  padding-bottom: calc(9 / 16 * 100%);


  @media (--large-and-up) {
    /* padding-bottom: calc(9 / 16 * 75%); */
  }

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}

.article {
  max-width: 800px;
  margin:0 auto;
  padding:2em 0;
  font-size:18px;
  @media (--medium-and-up) {
    font-size:20px;
  }
  @nest & a {
    color: var(--color-brand-complementary);

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }
}

.maxWidth {
  max-width:800px;
  margin:0 auto;
}