@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  background-color: transparent;
  font-family: "Lato";
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-flow: column;
  flex:1;
  padding:1em 0;
  @media (--medium-and-up) {
    padding:0 1em;
  }
}

.title {
  composes: responsiveTitle2 from './typography.module.css';
  margin:0 0 0.2em 0;
  color: rgba(0,0,0,.5);
}

.text {
  color: rgba(0,0,0,.6);
  /* font-weight: 700; */
  text-transform: none;
  font-size: 20px;
}