@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.root {
  text-align: center;
}

.text {
  font-family: "Lato";
  font-size:32px;
  font-weight: 700;
  text-transform: uppercase;
  color:var(--color-dusk);
  margin:0;
  line-height: 1;
  @media (--medium-and-up){
    font-size: 36px;
  }
}

.number {
  font-size:44px;
  @media (--medium-and-up){
    font-size: 74px;
  }
}

.description {
  color:var(--color-dusk);
  text-transform: uppercase;
  font-weight: 400;
  display:block;
  font-size:14px;
  margin-top:0.5em;
  @media (--medium-and-up){
    font-size:15px;
    letter-spacing:1px;
  }
}