.root {
  position: relative;
}

.backgroundColor {
  background-color: var(--color-super-light-gray);
}

.wrapper {
  box-sizing: border-box;
  max-width: 1140px;
  width:100%;
  min-height: 300px;
  margin:0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:2px solid var(--color-super-light-gray);
}

.waveContainer {
  position: relative;
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);

  @nest & a {
    color:#d35400;
  }
}