.root {
  position: relative;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1140px;
  width:100%; 
  margin:0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3em;
}

.waveContainer {
  position: relative;
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.title {
  composes: responsiveTitle2 from './typography.module.css';
}

.siteInfo {
  text-align: center;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);

  @nest & span {
    display:block;
  }
}

.link {
  composes: plainLink from './utils.module.css';
}

.linkColor {
  composes: complementaryLinkWithoutBorder from './utils.module.css';
}