@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: relative;
  /* background-color: #edeff3; */
  /* margin-top:80px; */
}

.wrapper {
  box-sizing: border-box;
  max-width: 1140px;
  width:100%; 
  margin:0 auto;
  position: relative;
  display: flex;
  padding:3em 0;
  @media (--medium-and-up) {
    justify-content: center;
    align-items: center;
    padding:3em;
  }
}

.waveContainer {
  position: relative;
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.privacy {
  font-size:14px;
}

.title {
  composes: h3 from './utils.module.css';
}

.siteInfo {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);

  @nest & span {
    display:block;
  }
  @media (--medium-and-up) {
    text-align:center;
  }
}

.link {
  composes: plainLink from './utils.module.css';
}

.linkColor {
  composes: complementaryLinkWithoutBorder from './utils.module.css';
}