@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {}

.extend {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  /* background-color: var(--color-very-light-gray); */
  background-color: var(--color-light-theme);
}

.lightTheme {
  background-color: var(--color-light-theme);
}

.gradient {
  background-image: linear-gradient(#F3F4F5, #fff);
}

.wrapper {
  box-sizing: border-box;
  max-width: var(--container-width);
  max-width: calc(var(--container-width) - 48px);
  width:100%;
  padding:2em;
  margin: 0 auto;

  @media (--medium-and-up) {
    padding:4em 2em;
    max-width: var(--container-width);
    max-width: calc(var(--container-width) - 64px);
  } 
  @media (--large-and-up) {
    padding:4em 0em;
    max-width: var(--container-width);
    max-width: calc(var(--container-width) - 64px);
  }  
}

.lessPadding {
  padding:2em;
  @media (--medium-and-up) {
    padding:2.5em 2em 4em 2em;
  }
  @media (--large-and-up) {
    padding:2.5em 0em 4em 0em;
  }
}

.lessPaddingBottom {
  padding:2em;
  @media (--medium-and-up) {
    padding:2.5em 2em 4em 2em;
  }
  @media (--large-and-up) {
    padding:2.5em 0em 4em 0em;
  }
}

.lessPaddingTop {
  padding:2em;
  @media (--medium-and-up) {
    padding:2.5em 2em 4em 2em;
  }
  @media (--large-and-up) {
    padding:2.5em 0em 4em 0em;
  }
}

.flexController {
  position: relative;
  display: flex;
  flex-flow:column;
}
