@import '../styles/custom-media.css';

.root {}

.firstRow {
  text-align: center;

  @nest & .wrapper {
    padding-bottom:0;
  }
}

.secondRow {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1140px;
  width:100%;
  padding:2em;
  margin: 0 auto;
}


.backgroundColor {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: var(--color-very-light-gray);
}

.backgroundSvg {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.imageContainer {
  flex:60% 0 0;
}

.textContainer {
  background-color: #FFF;
  box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39,48,54,0.05);
  padding:3em;
  position: absolute;
  max-width: 400px;
  right: 0;
  bottom: 25px;
  top: 25px;
}

.textContainerTitle {
  margin-top:0;
}