@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1em;
  @media(--medium-and-up) {
    justify-content: center;
    min-height: 64px;
    min-width: 64px;
    border-radius: 50%;
    background-color: var(--color-light-theme);
    /* background-color:#edeff3; */
    /* border:3px solid #edeff3;
    border-radius:3rem; */
    padding: .5rem;
    left:2em;
    top:-24px;
    margin-bottom:0;
    position:absolute;
    
  }
}

.iconBody {
  font-size: 2em;
    display: flex;
    align-items: center;
}