@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: relative;
  z-index: 100;
  width:100%;
  border-bottom:2px solid var(--color-light-gray);
}

.customHeader {
  border-bottom:0;
}

.wrapper {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding: 1.5em;
  max-width: 1400px;
  margin:0 auto;
  
  @media (--medium-and-up) {
    padding: 2em 2.5em;
    flex-flow:row;
    align-items: center;
    justify-content:space-between;
  }
}

.branding {
  font-weight: 700;
  position: relative;

  @nest & a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    width:150px;
    @media (--medium-and-up) {
      width:165px;
    }

    @nest & img {
      max-width:100%;
    }
  }
}

.toggleNavButton {
  position: absolute;
  right:0;
  top:50%;
  margin:-13px 0 0 0;
  appearance: none;
  font-size: 26px;
  border: none;
  background: none;
  padding:0;
  outline: none;
  color: inherit;
  cursor: pointer;

  @nest & svg {
    display: block;
    fill: inherit;
  }

  @media (--medium-and-up) {
    display: none;
  }
}

.shopButton {
  display: none;
  @media (--medium-and-up) {
    display: flex;
  }
}

.nav {
  display: none;
  flex:0 1 auto;
  padding:1.5em 0 0 0;

  @nest & ul {
    padding:0;
    margin:0;
    list-style:none;
  }

  @nest & ul li {
    padding:0.2em 1em;
  }

  @nest & ul li a {
    color:inherit;
    text-decoration:none;
    font-size: 22px;
    @media(--medium-and-up) {
      font-size: 16px;
    }
    @media(--large-and-up) {
      font-size: 18px;
    }
  }

  /* medium and up */
  @media (--medium-and-up) {
    padding:0;
    display: block;
    @nest & ul li {
      padding:0;
      display:inline-block;
    }
    @nest & ul li a {
      padding: 0.5rem 1rem;
    }
  }

    /* medium and up */
    @media (--large-and-up) {
      @nest & ul li a {
        padding: 0.5rem 1.5rem;
      }
    }
}

.navLinkShop {
  display: flex;
  @media (--medium-and-up) {
    display: none!important;
  }
}

.showNav {
  display: flex;
  /* padding:3em 0 0 0; */
  padding-left:1em;
  @nest & ul li {
    padding:0.5em;
  }
}

.activeLink {
  color:var(--color-brand-complementary)!important;
}
