@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: relative;
  z-index: 100;
  width:100%;
}

.customHeader {
  position: relative;
  
  @media (--large-and-up) {
    position:absolute;
    @nest & .wrapper {
      /* border-bottom: 2px solid rgba(255,255,255,0.3); */
      border-bottom:none;
    }
  }
}

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1.5em;
  max-width: 1400px;
  margin:0 auto;
  background:rgba(255,255,255,0.96);
  box-shadow: 0 4px 2px -3px rgba(39,48,54,0.05);
  
  @media (--medium-and-up) {
    padding: 2em;
    flex-flow:row;
    align-items: center;
  }

  @media (--large-and-up) {
    padding: 2.5em;
    /* border-bottom: 2px solid var(--color-super-light-gray); */
  }
}

.branding {
  font-weight: 700;
  flex: 1;

  @nest & a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    width:150px;

    @nest & img {
      max-width:100%;
    }
  }
}

.toggleNavButton {
  position: absolute;
  right:1em;
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;
  cursor: pointer;

  @nest & svg {
    display: block;
    fill: inherit;
  }

  @media (--medium-and-up) {
    display: none;
  }
}

.nav {
  display: none;
  flex:0 1 auto;
  padding:2em 0 0 0;

  @nest & ul {
    padding:0;
    margin:0;
    list-style:none;
  }

  @nest & ul li {
    
  }

  @nest & ul li a {
    text-decoration:none;
    color:inherit;
    /* font-weight:700; */
    text-transform:uppercase;
  }

  /* medium and up */
  @media (--medium-and-up) {
    padding:0;
    display: block;
    @nest & ul li {
      display:inline-block;
    }
    @nest & ul li a {
      padding: 0.5rem 1rem;
    }
  }

    /* medium and up */
    @media (--large-and-up) {
      @nest & ul li a {
        padding: 0.5rem 1.5rem;
      }
    }
}

.showNav {
  display: block;
}
