@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: relative;
  max-width: var(--container-width);
  padding: 0 1.5em;
  margin: 0 auto;

  @media (--medium-and-up) {
    padding: 0 2em;
  }
}