@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: relative;
  width:100%;
  max-width: var(--container-width);
  padding: 0 1.5em;
  margin: 0 auto;

  @media (--medium-and-up) {
    padding: 0 2em;
  }
}

.contentFit {
  min-height: 400px;
}

.borderBottom {
  border-bottom:2px solid var(--color-light-gray);
  padding-bottom: 2em;
}

.article {
  text-align: left;
  max-width: 800px;
  margin-top:2em;
  border-bottom:2px solid var(--color-light-gray);
  padding-bottom:2em;
}