@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.root {
  text-align: left;
  @media(--medium-and-up) {
    text-align:center;
  }
}

.name {
  composes: tinyTitle from "./typography.module.css";
}

.marginBottom {
  margin-bottom:2em;
  @media (--medium-and-up) {
    margin-bottom: 2.5em;
  }
}

.backButton {
  display:inline-block;
  margin-bottom:1em;
  position: relative;
  width:25px;
  @media(--medium-and-up) {
    left:2em;
    margin-bottom:0;
    position:absolute;
    width:35px;
  }
}