@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.root {
  text-align: left;
  @media(--medium-and-up) {
    text-align:center;
  }
}

.complementaryTitle {
  composes: tinyTitle from "./typography.module.css";
  margin-bottom:1.5em;
}

.publishedAt {
  composes: complementaryTitle;
  text-transform: none;
}

.text {
  margin-bottom: 0;
}

.marginBottom {
  margin-bottom:2em;
  @media (--medium-and-up) {
    margin-bottom: 2.5em;
  }
}