@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  background-color: var(--color-white);
  width:100%;
  @nest & h3 {
    margin:0;
    font-size:15px;
    @media(--medium-and-up) {
      font-size:18px;
    }
  }
}

.defaultItem {
  padding:1em;
  @media(--medium-and-up) {
    padding:2em;
  }
}

.linkItem {
  @nest & a {
    padding:1em;
    text-decoration: none;
    display: block;
    color: inherit;
    height: 100%;
    @nest &:hover {
      background-color:var(--color-almost-white);
    }
    @media(--medium-and-up) {
      padding:2em;
    }
  }
}

.attention {
  @nest & h3 {
    color:var(--color-brand-complementary);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.subtleAttention {
  @nest & h3 {
    color:var(--color-brand-complementary);
  }
}

.inYourFace {
  @nest & h3 {
    font-size:40px;
  }
  @nest & span {
    font-size:22px;
  }
}

.opacity {
  background-color: rgba(255,255,255,0.97);
  /* opacity: 0.97; */
}

.borderRadius {
  border-radius:6px;
}