@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.root {
  text-align: center;
  padding:1.5em;
  @media (--medium-and-up){
    padding:4em 3em 1em 3em;
  }
}

.number {
  font-size:44px;
  color:var(--color-brand-primary);
  margin:0;
  line-height: 1;
  font-family: "Lato";
  font-weight: 700;
  @media (--medium-and-up){
    font-size: 74px;
  }
}

.description {
  text-transform: uppercase;
  font-weight: 400;
  display:block;
  font-size:14px;
  margin-top:0.5em;
  @media (--medium-and-up){
    font-size:15px;
    letter-spacing:1px;
  }
}