.root {}

.callToActionLink {
  color: var(--color-brand-complementary);
  text-decoration: none;
  border-bottom: 2px solid var(--color-brand-complementary);
  padding-bottom: 2px;
  font-weight: 400;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  text-transform: uppercase;
}