@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.root {}

.ul {
  list-style-type: none;
  padding:0;
  margin:0;
  display:flex;

  /* @media (--medium-and-up) {
    margin:0 -1em 0 -1em;
  } */

  @nest & li {
    padding:1em 0;
    display:flex;
    align-self: stretch;

    @media (--medium-and-up) {
      padding:1em;
    }
  }
}

.defaultList {
  flex-flow:column;
  align-items: center; 
  justify-content: stretch;
  flex-wrap: wrap;
  
  @media (--medium-and-up) {
    flex-flow:row;
    flex-wrap: wrap;
  }

  @nest & li {
    display: flex;
    flex:1;
    align-self: stretch;
  }
}

.verticalList {
  flex-flow: column;

  @nest & li {
    display: block;
    flex: 0 1 auto; 
  }
}

.noWrapList {
  align-items: center; 
  justify-content: space-around;
  flex-wrap: nowrap;

  @media (--medium-and-up) {
    justify-content: center;
  }

  @nest & li {
    display: block;
    flex: 0 1 auto; 
  }
}

.fiftyFiftyList {
  flex-flow: column;

  @media (--medium-and-up) {
    flex-flow:row;
    flex-wrap:wrap;
  }

  @nest & li {
    flex:1;
    @media (--medium-and-up) {
      flex:50%;
      max-width:50%;  
    }
  }
}

.newsList {
  flex-flow: column;

  @media (--medium-and-up) {
    flex-flow:row;
    flex-wrap:wrap;
  }

  @nest & li {
    flex:1;
    padding: 1em 0;
    @media (--medium-and-up) {
      flex:50%;
      @nest &:nth-child(odd) {
        padding-right:1em;
      }
      @nest &:nth-child(even) {
        padding-left:1em;
      }
    }
  }
}

.justifiedCenterList {
  flex-flow:column;
  justify-content: center;
  @nest & li {
    align-self:center;
  }
  @media (--medium-and-up) {
    flex-flow:row;
    @nest & li {
      align-self:stretch;
    }
  }
}
.justifiedSpaceAroundList {
  flex-flow:column;
  justify-content: space-around;
  @nest & li {
    align-self:center;
  }
  @media (--medium-and-up) {
    flex-flow:row;
    @nest & li {
      align-self:stretch;
    }
  }
}

.oddBorder {
  @nest & li {
    @nest &:nth-child(odd) {
      @media(--medium-and-up) {
        border-right:2px solid var(--color-light-gray);
      }
    }
    /* @media(--medium-and-up) {
      border-right:2px solid var(--color-light-gray);
    } */
  }
}

.noGap {
  margin:0;
  @nest & li {
    padding:0!important;
  }
}

.smallGap {
  @nest & li {
    padding: 0.5em;
  }
}

.thight {
  @nest & li {
    padding-top:0.3em;
    padding-bottom:0.3em;
  }
}