@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.root {}

/* Default list */
.default {
  list-style-type: none;
  padding:0;
  margin:0;
  display:flex;
  flex-flow:column;

  @media (--medium-and-up) {
    flex-flow:row;
  }

  @nest & li {
    display:flex;
    flex:1;
  }
}

/* Below is multiple utility classes for list */
.boxShadow {
  composes: boxShadow3 from "./utils.module.css";
}

.oddEven {
  @nest & li {
    background-color:#fff;
    @nest &:nth-child(3n+1) {
      background-color:#fafafa;
    }
  }
}

.plain {
  flex-flow:column;
  @nest & li {
    padding:0.3em 0;
  }
}

.gridFix {
  @media (--medium-and-up) {
    margin-right:-1em;
    margin-left:-1em;
  }
}

.gap {
  @nest & li {
    padding:1em;
  }
}

/* List with full width li items  */
.oneWhole {
  flex-flow: column;

  @nest & li {
    display: block;
    flex:1; 
  }
}

/* List with 50% width li items, but full width on mobile */
.oneHalf {
  flex-flow: column;
  @media (--medium-and-up) {
    flex-flow:row;
    flex-wrap:wrap;
  }
  @nest & li {
    flex:1;
    padding:0 0 1em 0;
    @media (--medium-and-up) {
      flex:50%;
      max-width:50%;
      padding:0;
    }
  }
}
/* List with 50% width li items, also on mobile */
.oneHalfAllTheWay {
  flex-flow:row;
  flex-wrap:wrap;
  
  @nest & li {
    flex:50%;
    max-width:50%;
    padding:0;
  }
}

/* List with 50% width li items, with padding/gap and gridFix class for negative margins*/
.oneHalfWithGapAndGridFix {
  flex-flow: column;
  @media (--medium-and-up) {
    flex-flow:row;
    flex-wrap:wrap;
    composes: gridFix;
    composes: gap;
  }
  @nest & li {
    flex:1;
    padding:0 0 1em 0;
    @media (--medium-and-up) {
      flex:50%;
      max-width:50%;
      padding:1em;
    }
  }
}

.customListForPartners {
  composes: oneHalfAllTheWay;
  composes: oddEven;
  border:2px solid #fafafa;
}

/* List with 25% width li items, but full width on mobile */
.oneFourth {
  flex-flow:wrap;
  @nest & li {
    flex:1;
    @media(--medium-and-up) {
      flex:25%;
      max-width:25%;
    }
  }
}