@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 220px;
  padding:0 1em;
}

.logo {
  width:60%;
  margin-bottom: 1em;
}

.name {
  font-size: 14px;
  /* text-transform: uppercase; */
  font-weight: bold;
}