@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
}

.titleLarge {
  composes: responsiveTitle3 from './typography.module.css';
  margin:0 0 0.5rem 0;
}

.title {
  composes: responsiveTitle4 from './typography.module.css';
  margin:0 0 0.5rem 0;
}

.text {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
}

.newLine {
  display:block;
  margin:0.6em 0;
}

.link {
  composes: complementaryLink from './utils.module.css';
}
