@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  background-color: rgba(255,255,255,0.96);
  display: block;
  height: 100%;
  padding:1.5em 2em;
  width:100%;
  display:flex;
  align-items: center;
  min-height: 160px;

  @nest &:hover {
    /* background-color:var(--color-almost-white); */
    background-color:#edeff3;
    background-color:rgba(237,239,243,0.98);
    /* @nest & .title {
      color:var(--color-brand-complementary-hover);
    } */
    /* @nest & .teaser {
      color: var(--color-black);
    } */
  }
  
  @media(--medium-and-up) {
    padding:2em;
  }
}

.title {
  composes: h4 from "./utils.module.css";
  color:var(--color-brand-complementary);
  /* margin:0; */
}

.teaser {
  color:#555;
}