@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  background-color: rgba(255,255,255,0.96);
  display: block;
  height: 100%;
  padding:1.5em 2em;
  width:100%;
  display:flex;
  align-items: center;
  min-height: 160px;

  @nest &:hover {
    background-color:var(--color-almost-white);
    @nest & .title {
      color:var(--color-brand-complementary-hover);
    }
    /* @nest & .teaser {
      color: var(--color-black);
    } */
  }
  
  @media(--medium-and-up) {
    padding:2em;
  }
}

.title {
  color:var(--color-brand-complementary);
  margin:0;
  font-size:20px;
  @media(--medium-and-up) {
    font-size:21px;
  }
}

.teaser {
  font-size:15px;
  color:#444;
}