@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  /* background-color: rgba(255,255,255,0.96); */
  background-color:#fff;
  display: block;
  height: 100%;
  padding:1.5em 2em;
  width:100%;
  display:flex;
  align-items: center;
  min-height: 160px;
  position: relative;

  @nest &:hover {
    background-color:var(--color-almost-white);
    /* background-color:rgba(237,239,243,0.98); */
    /* @nest & .title {
      color:var(--color-brand-complementary-hover);
    } */
    /* @nest & .teaser {
      color: var(--color-black);
    } */
  }
  
  @media(--medium-and-up) {
    /* padding:2em 3em; */
  }
  @media(--large-and-up) {
    /* padding:2.5em 3em; */
  }
  @media(--extra-large-and-up) {
    padding:2.5em 4em;
  }
}

.title {
  composes: h4 from "./utils.module.css";
  color:var(--color-brand-complementary);
  display: inline-block;
  padding-right: 2rem;
  /* margin:0; */
}

.teaser {
  color:#555;
}

.iconContainer {
  position:absolute;
  top:0;
  bottom:0;
  right: 0;
  display: flex;
  align-items:center;
  justify-content: center;
}

.icon {
margin-left: 0.5em;
color:var(--color-light-gray);
color:#555;
}