@import '../styles/custom-media.css';

.root {
	width: 100%;
  position: relative;
  @nest &:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color:black;
    opacity:0.3;
    z-index: 1;
  }
	@media(--medium-and-up) {
		/* width:50%; */
		@nest &:nth-child(2) {
			margin-top:128px;
		}
  }
  

}
.featureText {
	bottom: 8rem;
	left: 0;
	padding-left: 2rem;
  padding-right: 2rem;
  color:#fff;
  z-index: 2;
}
.teaserText {
	bottom: -2rem;
	position: absolute;
	right: -2px;
	width: 442px;
	padding:2rem 0 0 2rem;
	background-color:#fff;
}
