.root {}

.wrapper {
  display:flex;
  align-items: center;
}

.firstColumn {
  flex:40%;
  display:flex;
  justify-content: center;
  @nest & a {
    border-bottom:1px solid;
  }
}

.secondColumn {
  flex:60%;
}