@import '../styles/custom-media.css';

.root {
  padding:2em 0;
}

.intro {
  text-align: center;
}

.flexRow {
  display: flex;
  position: relative;
}

.imageContainer {
  flex:60% 0 0;
}

.textContainer {
  background-color: var(--color-very-light-gray);
  padding:3em;
  position: absolute;
  max-width: 400px;
  right: 0;
  bottom: 25px;
  top: 25px;
}