@import '../styles/custom-media.css';

.root {}

.firstRow {
  text-align: center;
}

.secondRow {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.imageContainer {
  flex:60% 0 0;
}

.textContainer {
  background-color: var(--color-super-light-gray);
  padding:3em;
  position: absolute;
  max-width: 400px;
  right: 0;
  bottom: 25px;
  top: 25px;
}

.textContainerTitle {
  margin-top:0;
}