@import '../styles/custom-media.css';

.root {}

.wrapper {
  display: flex;
  flex-flow:column;
  position: relative;

  @media (--large-and-up) {
    flex-flow:row;
  }
}

.reverse {
  @media (--large-and-up) {
    flex-flow:row-reverse;
  }
  @nest & .text {
    @media (--large-and-up) {
      left:0;
    }
  }
}

.image {
  flex:1;
  @media (--large-and-up) {
    flex:60% 0 0;
  }
}

.text {
  background-color: var(--color-light-gray);
  position:relative;
  padding:1.5em 1.5em 2em 1.5em;
  margin:-2em 1.5em 0 1.5em;
  flex:1;

  @media (--medium-and-up) {
    padding:2em 2em 2.5em 2em;
    margin:-6em 2em 0 2em;
  } 

  @media (--large-and-up) {
    position: absolute;
    top: 25px;
    bottom: 25px;
    right: 0;
    padding:3em;
    margin:0;
    width:100%;
    max-width: 50%;
  }
}

.themeWhite {
  background-color: var(--color-white);
}

.themeAlmostWhite {
  background-color: var(--color-almost-white);
}

.title {
  margin-top:0;
}