@import '../styles/custom-media.css';

.root {}

.firstRow {
  text-align: center;
  margin-bottom: 2em;
}

.secondRow {
  display: flex;
  flex-flow:column;
  position: relative;
  box-sizing: border-box;

  @media (--large-and-up) {
    flex-flow:row;
  }
}

.imageContainer {
  flex:1;
  @media (--large-and-up) {
    flex:60% 0 0;
  }
}

.textContainer {
  background-color: var(--color-super-light-gray);
  position:relative;
  padding:1.5em 1.5em 2em 1.5em;
  margin:-2em 1.5em 0 1.5em;
  flex:1;

  @media (--medium-and-up) {
    padding:2em 2em 2.5em 2em;
    margin:-6em 2em 0 2em;
  } 

  @media (--large-and-up) {
    padding:3em;
    margin:0;
    right: 0;
    bottom: 25px;
    top: 25px;
    position: absolute;
    max-width: 50%;
  }
}

.textContainerTitle {
  margin-top:0;
}