@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  display:flex;
  flex-flow:column;
}

.withBorders {
  @media(--medium-and-up) {
    border-top:2px solid var(--color-light-gray);
    border-bottom:2px solid var(--color-light-gray);
    padding:3em 0;
  }
}

.textAlignLeft {
  text-align: left;
}

.container {
  display:flex;
  flex:1;
  justify-content: center;
  align-items: center;
}

.reverseFlow {
  flex-flow: column;
  @media(--medium-and-up) {
    flex-flow: row-reverse;
    @nest & .text {
      padding:2em 0em 2em 3em;
    }
  }
}

.text {
  composes: container;
  padding: 0 0 2em 0;
  @media(--medium-and-up) {
    padding:2em 3em 2em 0;
  }
}

.title {
  composes: h1 from "./utils.module.css";
  margin-bottom:0.2em;
}

.visuals {
  composes: container;
}

.listOfVisuals {
  list-style-type: none;
  padding:0;
  margin:0;
  display:flex;
  flex-flow:row;
  flex-wrap:wrap;
  
  @nest & li {
    flex:50%;
    max-width:50%;  
    /* background-color:#fff; */
    /* @nest &:nth-child(3n+1) {
      background-color:#fcfcfc;
    } */
  }
}

.listOfVisualsOddEven {
  @nest & li {
    background-color:#fdfdfd;
    @nest &:nth-child(3n+1) {
      background-color:#fcfcfc;
    }
  }
}

.listOfVisualsBorders {
  border:1px solid var(--color-light-gray);
  @nest & li {
    /* border:1px solid var(--color-light-gray); */
    border:1px solid var(--color-light-gray);
    /* @media (--medium-and-up) {
      flex:50%;
      max-width:50%;  
    }
    @nest &:nth-child(odd) {
      @media(--medium-and-up) {
        border-right:2px solid var(--color-light-gray);
      }
    }
    @nest &:nth-last-of-type(-n+2) {
      @media(--medium-and-up) {
        border-bottom:0;
      }
    } */
  }
}

.link {
  composes: complementaryLink from './utils.module.css';
}