@import '../styles/custom-properties.css';

.root {}

.wave {
  position: absolute;
  left:0;
  right:0;
  background-color:var(--color-background);
}

.positionBottom {
  bottom:0;
}

.positionTop {
  top:0;
  transform: rotate(180deg);
}