@import '../styles/custom-properties.css';

.root {}

.wave {
  position: absolute;
  left:0;
  right:0;
  background-color:var(--color-background);
}
.waveTop {
  top:0;
}
.waveBottom {
  bottom:0;
}