@import '../styles/custom-properties.css';

.root {}

.wave {
  position: absolute;
  left:0;
  right:0;
  fill-opacity: 1;
  background-color:var(--color-background);
  @nest & path {
    fill: var(--color-light-theme);
    fill-opacity:1;
  }
}

.blob {
  position: relative;
}

.positionBottom {
  bottom:0;
}

.positionTop {
  top:0;
  transform: rotate(180deg);
}