@import '../styles/custom-properties.css';

.root {}

.blob {
  position: relative;
  width:350px;
  height:350px;
  @nest & svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  @nest & path {
    fill:var(--color-brand);
    fill:var(--color-background);
    fill-opacity:0.5;
  }  
}

.icon {
  display:block;
  position: relative;
  width:35px; 
  @nest & path {
    fill:var(--color-black);
  }
}

/* Let a parent control size */
.adjustToParent {
  composes: icon;
  width:100%; 
}

.wave {
  position: absolute;
  left:0;
  right:0;
  fill-opacity: 1;
  background-color:var(--color-background);
  @nest & path {
    fill: var(--color-light-theme);
    fill-opacity:1;
  }
}

.blob {
  position: relative;
}

.positionBottom {
  bottom:0;
}

.positionTop {
  top:0;
  transform: rotate(180deg);
}