@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.verticalFlow {
  padding:1.5em 0;
  @media (--medium-and-up) {
    padding:1.5em 0;
  }
  @media (--large-and-up) {
    padding:2em 0;
  }
}

.verticalFlowBottom {
  padding:0 0 1em 0;
  @media (--medium-and-up) {
    padding:0 0 1.5em 0;
  }
  @media (--large-and-up) {
    padding:0 0 2em 0;
  }
}

.positionRelative {
  position: relative;
}
.positionAbsolute {
  position: absolute;
  left:0;
  right:0;
}
.displayFlex {
  display:flex;
}
.noMargin {
  margin:0;
}
.callToActionLink {
  color: var(--color-brand-complementary);
  text-decoration: none;
  border-bottom: 2px solid var(--color-brand-complementary);
  padding-bottom: 2px;
  font-weight: 400;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  text-transform: uppercase;
}

.textAlignRight {
  text-align: right;
}

.tinyTitle {
  color:#999;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1em;
}

.subTitle {
  color:#666;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  margin:0;
  font-size:16px;
}

/* Flexbox */
.flex {
  display:flex;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexItem {
  flex:1;
}
.flexAuto {
  flex: 0 1 auto;
}
.flexItemSmall {
  flex:1;
}
.flexItemMedium {
  flex:2;
}
.flexItemLarge {
  flex:3;
}
.flexAlignItemsCenter {
  align-items: center;
}