@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.positionRelative {
  position: relative;
}
.positionAbsolute {
  position: absolute;
  left:0;
  right:0;
}
.callToActionLink {
  color: var(--color-brand-complementary);
  text-decoration: none;
  border-bottom: 2px solid var(--color-brand-complementary);
  padding-bottom: 2px;
  font-weight: 400;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  text-transform: uppercase;
}

.callToAction {
  color: var(--color-brand-complementary);
  text-decoration: none;
  border-bottom: 2px solid var(--color-brand-complementary);
  padding-bottom: 2px;
  font-weight: 400;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  text-transform: uppercase;
}

.attention {
  font-size: 50px;
  margin:0;
  color:var(--color-black);
}

.textAlignRight {
  text-align: right;
}

.center {
  text-align: center;
}

.tinyTitle {
  color:#999;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1em;
}

.subTitle {
  color:#666;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  margin:0;
  font-size:16px;
}

/* Flexbox */
.flex {
  display:flex;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexItem {
  flex:1;
}
.flexAuto {
  flex: 0 1 auto;
}
.flexItemSmall {
  flex:1;
}
.flexItemMedium {
  flex:2;
}
.flexItemLarge {
  flex:3;
}
.flexAlignItemsCenter {
  align-items: center;
}

.boxShadow {
  box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39,48,54,0.1);
}