@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

:root {
 
}

.verticalFlow {
  padding:1em 0;
  @media (--medium-and-up) {
    padding:1.5em 0;
  }
  @media (--large-and-up) {
    padding:2em 0;
  }
}
.positionRelative {
  position: relative;
}
.positionAbsolute {
  position: absolute;
  left:0;
  right:0;
}
.displayFlex {
  display:flex;
}
.noMargin {
  margin:0;
}
.flex {
  display:flex;
}
.flexWrap {
  display:flex;
  flex-wrap: wrap;
}
.flex50 {
  flex:50%;
}
.flexAuto {
  flex: 0 1 auto;
}
.flex1 {
  flex:1;
}
.flex2 {
  flex:2;
}
.flex3 {
  flex:3;
}
.flexAlignItemsCenter {
  align-items: center;
}
.callToActionLink {
  color: var(--color-brand-secondary);
  text-decoration: none;
  border-bottom: 2px solid var(--color-brand-secondary);
  padding-bottom: 2px;
  font-weight: 400;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
}
.centeredTextLargeScreen {
  text-align: left;
  @media (--medium-and-up) {
    text-align:center;
  }
}
.centeredText {
  text-align: center;
}
.tinyTitle {
  color:#999;
  text-transform: uppercase;
  display: block;
}